
		
		
		body {	background-color: #808080; margin: 0 10%; font-family: sans-serif; }
        body {text-align: center;}
		h1 {	text-align: center;	font-family: serif; font-weight: normal; text-transform: uppercase;  #57b1dc; margin-top: 30px; }
		h2 {  text-align: center;	font-family: serif; font-weight: normal; text-transform: uppercase; color: black; margin-top: 30px;   }
        ol { text-align: left;}
        
.carousel .carousel-item {
  height: 500px;
}

.carousel-item img {
    position: static;
    object-fit:contain;
    top: auto;
    left: auto;
    min-height: 500px;
    max-width: 1000;
}
